<div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbar-toggler">
            <a class="navbar-brand" href="#">
                <img src="../dist/imgs/chimeraIcon.png" />
              </a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(1)">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(2)">Catalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(3)">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(4)">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(5)">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(6)">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goTo(7)">Register</a>
            </li>
        </ul>
        </div>
    </nav>
</div>