h1{
    margin-top: 5%;
    font-weight: bolder;
}

h3{
    margin-left: 1%;
    margin-top: 1%;
    
}

.card{
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: inline-block;
}

.cart{
    width: 50%;
    margin: 0 auto !important;
    margin-bottom: 30px !important;
}