<div class="container">
    <div class="login-form text-center">
        <div class="row">
        <form [formGroup]="registerForm"  (ngSubmit)="createUser($event)">
                <div class="col-12 title">
                    <h1 style="color: black;">Register</h1>
                </div>
                <div class="col-12">
                    <div class="mb-4">
                        <input type="text" id="username" class="form-control" placeholder="Username" formControlName="username"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"/>
                      </div>
                </div>
                <button [disabled]="registerForm.invalid" class="btn btn-danger" type="submit">Register</button>
        </form>
        <div class="col-12">
            <button class="btn btn-primary" (click)="goBack(0)">Home</button>
        </div>
        <div class="col-12">
            <button class="btn btn-secondary" (click)="goBack(1)">Login</button>
        </div>
    </div>
    </div>
</div>